body {
    background-color: #e6e0e6;
    padding: 20px;
    line-height: 1.5;
}



#portrait {
    width: 250px;
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}


h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    background-color: #d2cbed;   
    padding: 15px;
    border-radius: 10px;
    color: #040404;              
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
    width: 50%;
    margin: 0 auto 30px;     
}


.presentation {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;               
    padding: 16px 20px;                      
    border-radius: 8px;                     
    width: 97%;                             
    margin-bottom: 30px;                     
    box-shadow: 0 2px 5px rgba(0,0,0,0.08);  
    border-left: 4px solid #bdb1ec;          
    text-align: left;                        
    color: #444;  
                             
}


h2, h3 {
    border-left: 4px solid #bdb1ec;
    padding-left: 10px;
    margin-top: 30px;
}


ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style-type: none;
    padding-left: 0;
    width: 35%;
    padding-bottom: 10px;
}

li {
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


.film-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 25px;
}

.film {
    text-align: center;
    background-color: #ffffff;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 200px;
}

.film img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}

.film-title {
    margin-top: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: #171717;
}